body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;;
}

.enter-text-block {
    display: inline-block;
    width: 94%;
    padding: 0.3em;
    height: 5%;
    /*border: 1px solid #5d6369;*/
    overflow: auto;
    outline: none;
}

.enter-text-block .text-smile {
    width: 32px;
}

#send_message:hover {
    opacity: 0.7;
}

.window-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.window-block .rooms-list-block {
    width: 15%;
    height: 100%;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    /*background-color: rgba(234, 99, 54, 0.6);*/
    background-color: #cccccc;
    color: #fff;
}

.window-block .chat-room-block {
    display: inline-block;
    width: 84%;
    height: 98%;
    padding: 0.5% 0;
    vertical-align: top;
    position: relative;
}

.window-block .chat-room-block .logout-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-decoration: none;
    color: rgba(234, 99, 54, 1);
    font-size: 1.2em;
}

.window-block .chat-room-block .logout-button:hover {
    opacity: 0.7;
}

.window-block .chat-room-block #messages {
    width: 100%;
    height: 90%;
    overflow: auto;
    color: #5d6369;
    font-family: arial;
    position: relative;
}

.window-block .chat-room-block #messages .invite-button {
    position: absolute;
    color: rgba(234, 99, 54, 1);
    top: 1em;
    right: 0.5em;
    cursor: pointer;
}

.window-block .chat-room-block #messages .invite-button:hover, .window-block .chat-room-block #messages .invite-block .invite-send-button:hover {
    opacity: 0.7;
}

.window-block .chat-room-block #messages .invite-block {
    position: absolute;
    top: 2.5em;
    right: 0.5em;
    display: none;
    padding: 5px;
    border: 1px solid #cccccc;
}

.window-block .chat-room-block #messages .invite-block input[type="email"] {
    width: 100%;
    border: none;
    border-bottom: 1px dashed #5d6369;
    outline: none;
    font-size: 0.8em;
    color: #5d6369;
}

.window-block .chat-room-block #messages .invite-block .invite-send-button {
    color: rgba(234, 99, 54, 1);
    cursor: pointer;
    text-align: right;
    padding-top: 5px;
}

.window-block .chat-room-block #messages .invite-block form {
    margin-bottom: 0;
}

.message-item {
    vertical-align: top;
    margin: 25px 10px;
}

.message-item img {
    max-width: 40%;
}

.message-item.system-messages {
    color: rgba(234, 99, 54, 0.7);
    font-size: 0.9em;
}

.message-item .message-title-block .message-user-block {
    color: rgba(234, 99, 54, 0.7);
    font-weight: bolder;
}

.message-item .message-title-block .message-time-block {
    color: #5d6369;
    font-size: 0.7em;
}

.message-item .link-preview {
    position: relative;
    width: 555px;
    /*border: 1px solid #cccccc;*/
    padding: 5px;
}

.message-item .link-preview-image {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 125px;
}

.message-item .link-preview-content {
    display: inline-block;
    width: 400px;
    height: 125px;
    overflow: hidden;
    text-align: justify;
}

.message-item .link-preview-image .preview-img {
    width: 150px !important;
    max-width: 150px !important;
}

.message-item .link-preview-title {
    font-weight: bold;
}

.message-item .link-preview a {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: -9999px;
    z-index: 1000;
}

.message-smiles-block {
    display: none;
    border: 1px solid #5d6369;
    position: absolute;
    right: 20px;
    top: -250px;
    background-color: #ffffff;
}

.message-smiles-block img {
    width: 45px;
}

.message-smiles-block img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.username-block {
    font-size: 2.0em;
    padding: 0.5em;
    word-break: break-all;
}

.message-control-panel {
    border-top: 1px solid #cccccc;
    position: relative;
    width: 100%;
}

.username-block a {
    text-decoration: none;
    color: #ffffff;
}

.window-block .rooms-list-block .room-item-block {
    padding: 0.5em 2em;
    cursor: pointer;
    font-size: 1.2em;
    border-bottom: 1px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window-block .rooms-list-block .room-item-block .unread {
    color: rgba(234, 99, 54, 1);
}

.window-block .rooms-list-block .room-item-block:hover {
    opacity: 0.7;
}

.window-block .rooms-list-block .room-item-block.active {
    color: rgba(234, 99, 54, 1);
    background-color: #ffffff;
}

/*.window-block .rooms-list-block .username-block .logout-button {*/
/*text-decoration: none;*/
/*color: rgba(234, 99, 54, 1);*/
/*font-size: 0.6em;*/
/*}*/

/*.window-block .rooms-list-block .username-block .logout-button:hover {*/
/*opacity: 0.7;*/
/*}*/

.main-chat-block {
    display: none;
    width: 100%;
    height: 100%;
}

.rooms-index-block {
    text-align: center;
    font-size: 1.1em;
}

.rooms-index-block span {
    color: #5d6369;
}

.rooms-index-block .create-room-form {
    display: inline-block;
}

.rooms-index-block .create-room-form #title {
    border: none;
    border-bottom: 1px dashed #5d6369;
    outline: none;
    font-size: 0.8em;
    color: #5d6369;
}

.rooms-index-block .create-room-form input[type="button"] {
    /*padding: 0.5em 1.5em;*/
    /*background-color: rgba(234, 99, 54, 1);*/
    /*color: #ffffff;*/
    font-size: 0.9em;
    border: none;
    /*float: right;*/
    cursor: pointer;
    color: rgba(234, 99, 54, 1);
    background-color: #ffffff;
    font-style: italic;
    font-weight: bold;
}

.rooms-index-block .create-room-form input[type="button"]:hover {
    opacity: 0.7;
}

.rooms-index-block .new-rooms-block .room-item-block {
    display: inline-block;
    background-color: rgba(234, 99, 54, 0.3);
    color: #EA6336;
    border: 1px solid #EA6336;
    padding: 1em 2em;
    margin: 0.2em 0;
}

.rooms-index-block .new-rooms-block .room-item-block a {
    /*text-decoration: none;*/
    color: rgba(234, 99, 54, 1);
}

.members-block {
    height: 2%;
    margin: 0 0 1% 0;
}

.members-block .member-item {
    display: inline-block;
    background-color: rgba(234, 99, 54, 0.3);
    color: rgba(234, 99, 54, 1);
    border: 1px solid rgba(234, 99, 54, 1);
    margin: 0 10px 0 0;
    padding: 0 1em;
}

.smile-1-1 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
}

.smile-1-2 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -40px;
}

.smile-1-3 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -80px;
}

.smile-1-4 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -120px;
}

.smile-1-5 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -160px;
}

.smile-1-6 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -200px;
}

.smile-2-1 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-y: -40px;
}

.smile-2-2 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -40px;
    background-position-y: -40px;
}

.smile-2-3 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -80px;
    background-position-y: -40px;
}

.smile-2-4 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -120px;
    background-position-y: -40px;
}

.smile-2-5 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -160px;
    background-position-y: -40px;
}

.smile-2-6 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -200px;
    background-position-y: -40px;
}

.smile-3-1 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-y: -80px;
}

.smile-3-2 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -40px;
    background-position-y: -80px;
}

.smile-3-3 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -80px;
    background-position-y: -80px;
}

.smile-3-4 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -120px;
    background-position-y: -80px;
}

.smile-3-5 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -160px;
    background-position-y: -80px;
}

.smile-3-6 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -200px;
    background-position-y: -80px;
}

.smile-4-1 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-y: -120px;
}

.smile-4-2 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -40px;
    background-position-y: -120px;
}

.smile-4-3 {
    display: inline-block;
    background-image: url('../img/smileys.png');
    width: 40px;
    height: 40px;
    background-size: 240px;
    background-position-x: -80px;
    background-position-y: -120px;
}

#open-smiles, #send_message {
    display: inline-block;
    cursor: pointer;
    color: rgba(234, 99, 54, 1);
    font-size: 2em;
    width: 2%;
}

#open-smiles:hover, #send_message:hover {
    opacity: 0.7;
}

.errors {
    font-size: 0.8em;
    padding: 0.4em 0;
    color: rgba(234, 99, 54, 1);
}