<head>
    <title>MiMiChat</title>
    <link href="{{ url_for('users.static', filename='css/users.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('rooms.static', filename='img/paw.png') }}" type="image/x-icon">
    <script src="{{ url_for('users.static', filename='js/jquery-2.1.4.min.js') }}" type="text/javascript"></script>

    {% block js_content %}
    {% endblock %}


    {% block css_content %}
    {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="container">
        <ul>

        </ul>
    </div>
</div>
<div class="content-block">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>