{% extends 'base.html' %}

{% block js_content %}
    <script src="{{ url_for('users.static', filename='js/users.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div class="central-block">
        Nice to see you here!
        <i class="sign-in-button">Sign In</i> or
        <i class="sign-up-button">Sign Up</i>, please!

        <div class="block-for-form"></div>
    </div>
{% endblock %}