<form class="user-auth-form" action="{{ url_for('users.reset_email') }}" method="post">
    {{ form.email(placeholder="Email") }}

    {% for error in form.email.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    <input type="button" value="Reset" id="reset-email-button" />
</form>