{% extends 'base.html' %}

{% block js_content %}
    <script src="{{ url_for('users.static', filename='js/users.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div class="central-block">
        <form class="user-auth-form" action="{{ url_for('users.reset_email') }}" method="post">
            {{ form.password(placeholder="Password") }}
            {{ form.password_confirm(placeholder="Confirm password") }}
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            {% for error in form.password_confirm.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <input type="button" value="Reset" id="reset-pw-button" data-hash="{{ email_hash }}" />
        </form>
    </div>
{% endblock %}

