<form class="user-auth-form" action="{{ url_for('users.signup') }}" method="post">
    {{ form.username(placeholder="Username") }}
    {{ form.email(placeholder="Email") }}


    {{ form.password(placeholder="Password") }}
    {{ form.password_confirm(placeholder="Repeat password") }}

    {% for error in form.username.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    {% for error in form.email.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    {% for error in form.password.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <input type="button" value="Sign Up" id="signup-button"/>
</form>