<form class="user-auth-form" action="{{ url_for('users.signin') }}" method="post">
    {{ form.email(placeholder="Email") }}


    {{ form.password(placeholder="Password") }}

    {% for error in form.email.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}

    {% for error in form.password.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <div class="forgot-pw-button">Forgot password?</div>
    <input type="button" value="Sign In" id="signin-button"/>
</form>