{% extends 'base.html' %}
{% block css_content %}
    <link href="{{ url_for('rooms.static', filename='css/room.css') }}" rel="stylesheet"/>
{% endblock %}
{% block js_content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('rooms.static', filename='js/rooms.js') }}"></script>
    {% block js_room_content %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="window-block">

        <div class="rooms-list-block">
            <div class="username-block">
                <a href="{{ url_for('rooms.room_index') }}">{{ current_user.username }}</a>
            </div>

            {% for room in current_user.rooms %}
                <div class="room-item-block" data-room="{{ room.id }}">{{ room.title }}</div>
            {% endfor %}
        </div>
        <div class="chat-room-block">
            <a class="logout-button" href="{{ url_for('users.logout') }}">
                Log Out
            </a>
            {% block chat_space %}
            {% endblock %}
        </div>
    </div>
{% endblock %}