body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;;
}

.content-block {
    position: relative;
    width: 100%;
    height: 100%;
}

.central-block {
    position: absolute;
    margin: 0 auto;
    width: 25%;
    top: 30%;
    border: 1px solid #999999;
    border-radius: 4px;
    box-shadow: 0 1px 10px #999;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
    font-size: 1.1em;
}

.central-block .block-for-form span {
    color: rgba(234, 99, 54, 1);
    font-size: 1em;
    font-style: italic;
    padding: 0.5em 0;
}

.central-block .forgot-pw-button {
    display: inline-block;
    float: left;
    font-size: 0.7em;
    color: rgba(234, 99, 54, 1);
    cursor: pointer;
}

.central-block .forgot-pw-button:hover {
    color: rgba(234, 99, 54, 0.7);

}

.central-block .sign-in-button, .central-block .sign-up-button {
    color: rgba(234, 99, 54, 1);
    font-weight: bold;
    cursor: pointer;
}

.central-block .sign-in-button:hover, .central-block .sign-up-button:hover {
    opacity: 0.7;
}

/* ------------------------------AUTH BLOCK------------------------------- */
.user-auth-form {
}

.user-auth-form input[type="text"], .user-auth-form input[type="password"], .user-auth-form input[type="email"] {
    width: 100%;
    outline: none;
    padding: 0.5em 1%;
    margin: 0.5em 0;
}

.user-auth-form input[type="button"] {
    padding: 0.5em 1.5em;
    background-color: rgba(234, 99, 54, 1);
    color: #ffffff;
    font-size: 0.9em;
    border: none;
    float: right;
    cursor: pointer;
}

.user-auth-form input[type="button"]:hover {
    opacity: 0.7;
}

.user-auth-form .error {
    font-size: 0.8em;
    padding: 0.4em 0;
    color: rgba(234, 99, 54, 1);
}